
@{
    ViewData["Title"] = "Index";
    List<UserViewModel> users = Model ;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Products</h4>
                <a asp-action="Create" class="btn btn-primary">Create</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>UserName</th>
                                <th>Role</th>
                                <th>IsActive</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in users)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>@user.Role</td>
                                    <td>@user.IsActive</td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-info">Details</a>
                                        <a asp-action="ChangeRole" asp-route-id="@user.Id" class="btn btn-warning">Change Role</a>
                                        <a asp-action="ChangePassword" asp-route-id="@user.Id" class="btn btn-danger">Change Password</a>
                                        @if (user.IsActive)
                                        {
                                            <a asp-action="Activity" asp-route-id="@user.Id" class="btn btn-danger">Deactivate</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Activity" asp-route-id="@user.Id" class="btn btn-success">Activate</a>
                                        }
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

