
@model SendMailDto
@{
    ViewData["Title"] = "ContactUs";
}

<section id="contact">
    <div class="contactus">
        <h1>@ViewBag.Message</h1>
        <h1>
            CONTACT
        </h1>
        <p>
            Use the form below to contact us with any questions or <br>
            comments you may have.
        </p>
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Enter Your Name" />
                <span class="text-danger" asp-validation-for="@Model.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input type="email" asp-for="@Model.Email" class="form-control" placeholder="Enter Your Email" />
                <span class="text-danger" asp-validation-for="@Model.Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PhoneNumber"></label>
                <input type="number" asp-for="@Model.PhoneNumber" class="form-control" placeholder="Enter Your Number" />
                <span class="text-danger" asp-validation-for="@Model.PhoneNumber"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Message"></label>
                <textarea class="form-control" asp-for="@Model.Message" placeholder="Enter Your Message"></textarea>
                <span class="text-danger" asp-validation-for="@Model.Message"></span>
            </div>
            <button type="submit" class="btn btn-primary">Send </button>
        </form>
    </div>
</section>